[Desktop Entry]
Name=Paraula
Comment=Find any word definition with this handy dictionary
Exec=com.github.lainsce.paraula
Icon=com.github.lainsce.paraula
Keywords=Words;Dictionary;Search;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
