[Desktop Entry]
Name=Palaura
Comment=Find any word definition with this handy dictionary
Exec=com.github.lainsce.palaura
Icon=com.github.lainsce.palaura
Keywords=Words;Dictionary;Search;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Dictionary;
