@define-color colorPrimary #cb5353;
@define-color textColorPrimaryShadow #a45350;
@define-color textColorPrimary #f5f5f5;

.palaura-window {
    background-color: @colorPrimary;
}

.palaura-view {
    background-color: #FDF6E3;
    color: #586E75;
}

.palaura-view image {
    color: #586E75;
}

.palaura-view:selected {
    background-color: #586E75;
    color: @textColorPrimary;
}